@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #060612;
}
.dark {
  background: var(--background);
}

.dark .apexcharts-text.apexcharts-datalabel-value {
  fill: #fff !important;
}
.dark .apexcharts-text.apexcharts-datalabel-label {
  fill: #fff !important;
}
